<mat-dialog-content class="mat-typography">
  <div class="images" style="overflow-y: auto" *ngIf="selectCatalogue != null">
    <mat-card class="imageContainer" *ngFor="let img of selectCatalogue.images">
      <mat-card-content><img [src]="img.url" alt="{{ img.image.file_name }}" /></mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button (click)="onNoClick()" color="warn">Close</button>
  <button *ngIf="selectCatalogue?.completed; else elseBlock" mat-button (click)="onSubmit(selectCatalogue.taskID)" color="primary" type="button" matTooltip="View the stitched map">View Map</button>
  <ng-template #elseBlock>
    <button *ngIf="selectCatalogue?.error; else lastElseBlock" mat-button color="primary" type="button" matTooltip="The map cannot be processed" disabled>Error</button>
    <ng-template #lastElseBlock>
      <button mat-button (click)="onSubmit()" color="primary" type="button" matTooltip="The map is busy processing" disabled>Map Pending</button>
    </ng-template>
  </ng-template>
</mat-dialog-actions>
