<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label for="new">New Password</mat-label>
    <input matInput [(ngModel)]="data.newPassword" name="new" cdkFocusInitial>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label for="confirm">Confirm New Password</mat-label>
    <input matInput [(ngModel)]="data.confirmedPassword" name="confirm">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-button [disabled]="!data.newPassword || !data.confirmedPassword" (click)="onSubmit()" color="primary" type="button">Save Changes</button>
</div>
