<div class="background">
  <!-- put below into background div if want to include wallpaper -->
  <!-- style="background-image: url('assets/mapwallpaper.jpg');" -->
  <aerial-mapping-side-navbar></aerial-mapping-side-navbar>
  <app-footer></app-footer>
  <div id="outer" class="content2">
    <table>
      <tr>
        <td>
          <div class="flights cont" id="mapbox">
            <aerial-mapping-mapbox></aerial-mapping-mapbox>
          </div>
        </td>
        <td>
          <div class="messages cont tooltip">
            <div class="messageTitle">
              MESSAGES
              <mat-divider></mat-divider>
            </div>
            <div class="scrollableMessage">
              <mat-list>
                <mat-list-item
                  matLine
                  class="messageItem"
                  *ngFor="let message of messages"
                  [id]="message.collectionID"
                >
                  <fa-icon
                    class="icon"
                    matListAvatar
                    [class]="message.color"
                    [icon]="message.message_status"
                  ></fa-icon>
                  <span class="message">{{ message.message_description }}</span>
                  <span class="messageDate"
                    >Map ID: {{ message.collectionID }}</span
                  >
                  <!-- (click)="dismiss(message.collectionID)" -->
                  <!-- <button class="close" ><mat-icon>close</mat-icon></button> -->
                  <button
                    class="close"
                    (click)="dismiss(message.collectionID, 'error')"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
            <span
              class="tooltiptext"
              style="
                width: max-content;
                padding-left: 5px;
                padding-right: 5px;
                top: 101%;
              "
              >System status</span
            >
          </div>
          <div class="completed cont tooltip">
            <div class="completeTitle">
              COMPLETED
              <mat-divider></mat-divider>
            </div>
            <div class="scrollableComplete">
              <mat-list>
                <mat-list-item
                  matLine
                  class="completeItem"
                  *ngFor="let collection of completed"
                  [id]="collection.collectionID"
                >
                  <fa-icon
                    matListAvatar
                    class="icon brown-icon"
                    [icon]="complete"
                  ></fa-icon>
                  <span class="message">Upload</span>

                  <span
                    class="completeName"
                    *ngIf="
                      collection?.collectionName == '' ||
                        collection.collectionName == undefined;
                      else elseBlock
                    "
                    >{{ collection.collectionID }}</span
                  >
                  <ng-template #elseBlock>
                    <span class="completeName">{{
                      collection.collectionName
                    }}</span>
                  </ng-template>
                  <!-- <span class="completeDate">{{m.date}}</span> -->
                  <button
                    class="close"
                    (click)="dismiss(collection.collectionID, 'complete')"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
            <span
              class="tooltiptext"
              style="
                width: max-content;
                padding-left: 5px;
                padding-right: 5px;
                top: 101%;
              "
              >Processed videos & completed maps</span
            >
          </div>
        </td>
        <td>
          <div class="progress cont tooltip">
            <div class="progressTitle">
              IN PROGRESS
              <!-- <hr> -->
              <mat-divider></mat-divider>
            </div>
            <!-- C&Z changed style -->
            <div class="scrollableProgress">
              <mat-list>
                <mat-list-item
                  matLine
                  class="progressItem"
                  *ngFor="let collection of processing"
                >
                  <fa-icon
                    matListAvatar
                    class="icon brown-icon"
                    [icon]="progress"
                  ></fa-icon>
                  <span
                    class="progressName"
                    *ngIf="
                      collection?.collectionName == '' ||
                        collection.collectionName == undefined;
                      else elseBlock
                    "
                    >{{ collection.collectionID }}, stitching in
                    progress...</span
                  >
                  <ng-template #elseBlock>
                    <span class="progressName"
                      >{{ collection.collectionName }}, stitching in
                      progress...</span
                    >
                  </ng-template>
                </mat-list-item>
              </mat-list>
            </div>
            <span
              class="tooltiptext"
              style="
                width: max-content;
                padding-left: 5px;
                padding-right: 5px;
                top: 101%;
              "
              >Current jobs</span
            >
          </div>
        </td>
      </tr>
    </table>
  </div>
  <app-spinner></app-spinner>
</div>
