<div class="background" style="background-image: url('assets/mapwallpaper.jpg');">
  <!-- <div class="heading">
    <h1>Image Catalogue</h1>
  </div> -->
  <aerial-mapping-side-navbar></aerial-mapping-side-navbar>
  <app-footer></app-footer>
  <div class="content">

    <div id="searchAndSortContainer">
      <div id="searchBar">
        <mat-form-field [ngStyle]="{ width: '100%', height: '60px'}" class="form">
          <button id="searchBtn" matPrefix mat-icon-button aria-label="Search">
            <mat-icon inline=true>search</mat-icon>
          </button>

          <input (keyup)="searchCatalogues()" (change)="searchCatalogues()" id="searchInput" class="search"
            type="text" placeholder="Search" value="" matInput />
        </mat-form-field>
      </div>

      <span id="sortDropdown">
        <mat-form-field [ngStyle]="{ width: '18%', height: '60px', backgroundColor: 'none'}">
          <mat-label id="right" class="sortLabel">Sort By</mat-label>
          <mat-select matInput (change)="onChangeSort($event)" id="left" class="sort" style="display: inline;">
            <mat-option [value]="sort.date" selected>Upload Date</mat-option>
            <mat-option [value]="sort.park">Park</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>

    <div style="height: 85%; overflow-y: auto; margin-top: 2%">
      <mat-card *ngFor="let catData of catalogues" id="{{ catData.catalogue.collectionID }}">
        <mat-card-header>
          <span style="float: left">{{ catData.catalogue.name }}</span>
          <span style="float: right">{{ catData.catalogue.upload_date_time | date }}</span>
        </mat-card-header>
        <br />
        <mat-card-content>
          <ng-container *ngFor="let img of catData.images | slice: 0:3">
            <img style="width: 32%; display: inline-block; padding: 1%" [src]="img.url"
              alt="{{ img.image.file_name }}" />
          </ng-container>
        </mat-card-content>
        <mat-card-footer style="padding: 0px 10px">
          <button [disabled]="!catData.catalogue.completed" mat-raised-button class="link tooltip" (click)="enlarge(catData)">
            <ng-container *ngIf="catData.catalogue.completed">
              View
            </ng-container>
            <ng-container *ngIf="!catData.catalogue.completed">
              Map Processing...
            </ng-container>
            <span class="tooltiptext">View images & create maps</span>
          </button>
        </mat-card-footer>
      </mat-card>

      <!-- Add Angular Dialog Here Instead -->

      <mat-card class="popup" id="popup" style="overflow-y: none">
        <div class="images" style="overflow-y: auto" *ngIf="selectedCatalogue != null">
          <mat-card class="imageContainer" *ngFor="let img of selectedCatalogue.images">
            <mat-card-content><img [src]="img.url" alt="{{ img.image.file_name }}" /></mat-card-content>
          </mat-card>
          <!-- <ng-container *ngFor="let img of images" class="imageContainer">
            <img [src]="img.url" alt="{{ img.image.file_name }}" [style]="{ padding: '5px' }" />
          </ng-container> -->
        </div>
        <!-- <a routerLink="/map-collection" class="button">
              <span class="icon"><mat-icon>add</mat-icon></span>
              <span class="text" style="cursor: pointer;">Create New Map</span>
            </a> -->
        <div class="center">
          <button mat-raised-button class="link tooltip" routerLink="/map-collection" style="width: 190px">
            Create New Map
            <span class="tooltiptext">Start image stitching</span>
          </button>
          <span style="margin: 10px"></span>
          <button mat-raised-button color="warn" class="link" (click)="closePopup()" style="width: 190px">
            Close
          </button>
        </div>
      </mat-card>


    </div>
  </div>
</div>
