<div class="background" style="background-image: url('assets/mapwallpaper.jpg');">
  <div class="heading">
    <h1>File Upload</h1>
  </div>
  <aerial-mapping-side-navbar></aerial-mapping-side-navbar>

  <div class="content">
    <div class="drag-box" #imageForm>
      <h3 class="uploadHeading">Select a file</h3>
      <button mat-flat-button color="primary" class="clearbtn" (click)="fileUpload.click()">
        <h3 class="uploadHeading">Browse</h3>
      </button>
      <h3 class="uploadHeading">or</h3>
      <h3 class="uploadHeading">Drag and drop below</h3>
      <input type="file" class="file" multiple (change)="onFileSelected($event)" #fileUpload />
      <!-- <input type="file" class="file" multiple (change)="onFileSelected($event)" #fileUpload> -->
      <div class="file-upload" *ngIf="fileName">
        <div class="successful-submit" *ngIf="submitPressed">
          <h4 class="variable">File Uploaded Successfully</h4>
        </div>
        <h4 class="variable">{{ fileName || 'No file uploaded yet.' }}</h4>
        <div id="metadata">
          <div class="tooltip" style="width: 100%; margin-bottom:5%">
            <select ng-model="selectedPark" class="parks tooltip" id = "parks">
              <option value="" disabled selected>Select a park</option>
              <option *ngFor="let park of parks" [value]="park.value">
                {{park.viewValue}}
              </option>
            </select>
            <span class="tooltiptext" style="left:15%">Select park</span>
          </div>

          <select ng-model="selectedType" class="types tooltip" id = "fType">
            <option value="" disabled selected>Select a flight type</option>
            <option *ngFor="let type of flight" [value]="type.value">
              {{type.viewValue}}
            </option>
          </select>

          <input type="number" placeholder="Enter the height of the flight (metres)" id="height" min="1">
        </div>

        <br />
        <button class="clearbtn" mat-flat-button (click)="clearSelection()">
          <h3 class="uploadHeading">Clear Selection</h3>
        </button>
        <br>
        <div *ngIf="!submitPressed">
          <button class="clearbtn" type="submit" mat-flat-button (click)="uploadFileLocal()">
            <h3 class="uploadHeading">Submit</h3>
          </button>
          <br>
        </div>
      </div>

      <div class="progress">
        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadingProgress" *ngIf="uploadingProgress">
        </mat-progress-bar>
        <div class="videoSplitting" *ngIf="splittingProgress != 0">
          Splitting Video {{splittingProgress}}%
        </div>
        <div class="videoUploading" *ngIf="uploadingProgress != 0">
          Uploading Video {{uploadingProgress}}%
        </div>
      </div>

    <div id = "test">
    </div>
    </div>
  </div>
</div>
