<div class="background">
  <aerial-mapping-side-navbar id="navbar"></aerial-mapping-side-navbar>
  <app-footer></app-footer>
  <div id="outer" class="content">
    <div class="title" style="color: rgb(110, 110, 110)">
      <h3>CREATE A MAP</h3>
      <mat-divider></mat-divider>
    </div>
    <form id="formElem" action="">
      <table>
        <tr>
          <td>
            <div class="drop-zone">
              <span for="file">Drag files to upload</span>
              <br />
              <input
                name="Images"
                type="file"
                class="file"
                multiple
                (change)="onFileSelected($event)"
                #fileUpload
              />
            </div>

            <h4 class="variable" style="width: 90%; text-align: center">
              {{ fileName || "No file uploaded yet." }}
            </h4>
            <div class="buttonCenter">
              <button
                type="button"
                color="primary"
                class="clearbtn"
                (click)="fileUpload.click()"
              >
                Choose file
              </button>
            </div>
          </td>
          <td>
            <div class="no-file" *ngIf="!fileName">
              <span>No file selected</span>
              <mat-icon style="color: #cccccc"> insert_drive_file</mat-icon>
            </div>
            <div class="file-upload" *ngIf="fileName && !submitPressed">
              <br />
              <div class="metadata">
                <input
                  type="text"
                  placeholder="Enter the name of this map"
                  id="collectionName"
                />

                <div class="parkdd" style="display: inline-block">
                  <select
                    ng-model="selectedPark"
                    class="parks tooltip"
                    id="parks"
                  >
                    <option value="" disabled selected>Select a park</option>
                    <option *ngFor="let park of parksList" [value]="park.value">
                      {{ park.viewValue }}
                    </option>
                  </select>
                  <button
                    style="
                      background-color: white;
                      border: none;
                      font-size: 20px;
                    "
                    (click)="openParksDialog()"
                  >
                    <mat-icon style="padding-top: 12px; line-height: 8px">
                      add
                    </mat-icon>
                  </button>
                </div>

                <select ng-model="selectedType" class="types" id="fType">
                  <option value="" disabled selected>
                    Select a flight type
                  </option>
                  <option *ngFor="let type of flight" [value]="type.value">
                    {{ type.viewValue }}
                  </option>
                </select>

                <input
                  type="number"
                  placeholder="Enter the height of the flight (metres)"
                  id="height"
                  min="1"
                />

                <select
                  ng-model="selectedResolution"
                  class="i-size tooltip"
                  id="resolution"
                >
                  <option value="" disabled selected>
                    Select a resolution size
                  </option>
                  <option *ngFor="let size of iSize" [value]="size.value">
                    {{ size.viewValue }}
                  </option>
                </select>
                <div class="slider">
                  <span width="80%">Choose Map Resolution</span>
                  <span class="example-value-label">{{ sliderValue }}</span>
                  <br />
                  <span class="minMax" style="float: left; padding-right: 5px"
                    >Max</span
                  >
                  <mat-slider
                    class="example-margin"
                    [disabled]="disabled"
                    [invert]="invert"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [thumbLabel]="thumbLabel"
                    [value]="sliderValue"
                    [vertical]="vertical"
                    aria-labelledby="example-name-label"
                    (change)="getSliderValue($event)"
                    (oninput)="getSliderValue($event)"
                  >
                  </mat-slider>
                  <span class="minMax" style="float: right; padding-right: 5px"
                    >Min</span
                  >
                </div>
              </div>
              <div *ngIf="!submitPressed">
                <div class="buttonCenter">
                  <button
                    class="clearbtn"
                    type="submit"
                    (click)="uploadFileLocal($event)"
                  >
                    Submit
                  </button>
                </div>
                <br />
              </div>
            </div>

            <div class="progress">
              <div class="center" id="center">
                <div
                  class="successful-submit"
                  *ngIf="submitPressed"
                  id="successful-submit"
                  style="text-align: center"
                >
                  <h4 class="variable">
                    Wait for the below processes to complete before navigating
                    to a new page
                  </h4>
                </div>

                <div class="videoSplitting" *ngIf="submitPressed" id="video">
                  <mat-progress-bar
                    mode="determinate"
                    value="{{ splittingProgress }}"
                  ></mat-progress-bar>
                  Splitting Video {{ splittingProgress }}%
                </div>
                <div class="videoSplitting" *ngIf="submitPressed">
                  <mat-progress-bar
                    mode="determinate"
                    value="{{ uploadingProgress }}"
                  ></mat-progress-bar>
                  Uploading Frames {{ uploadingProgress }}%
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </form>
    <app-spinner></app-spinner>
  </div>
</div>
