@import 'src/styles.scss';

h2 {
  font-family: "Segoe UI", sans-serif;
  color: white;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 30px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  font-weight: 100;
}


label {
  padding-top: 25px;
  padding-left: 15px;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: #484a4c;
}

mat-hint {
  color: $primary-red;
  font-size: larger;
}

mat-form-field {
  display: block;
  //flex-direction: column;
  //align-items: flex-start;
  background-color: rgb(255, 255, 255, 0.25);
  font-family: 'Tahoma';
  color: gray;
  //padding-bottom: 15px;
  //border: 1px solid $primary;
  margin: 10px;
  width: 93%;
  height: 52px;
}

mat-form-field:hover {
  //color:rgb(176, 176, 176);
  //border: 1px solid darkgray;
}

button {
  position: absolute;
  text-align: center;
  vertical-align: center;
  background-color: rgba(116, 104, 92, 0);
  color: white;
  border: 2px solid white;
  border-radius: 0px;
  padding: 20px 28px;

  position: absolute;
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 7px;

  width: 10;
  height: 14;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.back {
  width: 100%;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: white;
  color: #5f5f5f;
}

#container {
  background-color: #5f5f5f8a;
  padding: 1% 2%;
  position: fixed;
  /* Stay in place /
    z-index: 1; / Sit on top */
  left: 7.5%;
  top: 10%;
  width: 50%;
  height: auto;
  align-content: center;
}
