<div class="nav">
  <ul>
    <li>
      <button routerLink="/dashboard" mat-button class="menu-button" class="tooltip" style="padding: 0; width: 100%; text-align: left;">
        <mat-icon>dashboard</mat-icon>
        <span class="navText">Dashboard</span>
        <span class="tooltiptext">Information overview</span>
      </button>
    </li>
    <br>
    <li>
      <button routerLink="/account" mat-button class="menu-button" class="tooltip" style="padding: 0; width: 100%; text-align: left;">
        <mat-icon>person</mat-icon>
        <span class="navText">Account</span>
        <span class="tooltiptext">User account details</span>
      </button>
    </li>
    <br>
    <li>
      <button routerLink="/map-collections" mat-button class="menu-button" class="tooltip" style="padding: 0; width: 100%; text-align: left;">
        <mat-icon>map</mat-icon>
        <span class="navText">Map Collections</span>
        <span class="tooltiptext">View maps</span>
      </button>
    </li>
    <br>
    <li>
      <button routerLink="/image-catalogue" mat-button class="menu-button" class="tooltip" style="padding: 0; width: 100%; text-align: left;">
        <mat-icon>collections</mat-icon>
        <span class="navText">Image Catalogue</span>
        <span class="tooltiptext">View processed images</span>
      </button>
    </li>
    <br>
    <li>
      <button routerLink="/file-upload" mat-button class="menu-button" class="tooltip" style="padding: 0; width: 100%; text-align: left;">
        <mat-icon>add_photo_alternate</mat-icon>
        <span class="navText">File Upload</span>
        <span class="tooltiptext">Upload files for stitching</span>
      </button>
    </li>
  </ul>
</div>
