<div class="nav">
  <button id="titleButton" routerLink="/dashboard" mat-button>
    <span id="title">AERIAL MAPPER</span>
  </button>

  <div id="buttons">
    <button
      routerLink="/dashboard"
      mat-button
      class="menu-button"
      matTooltip="Information overview"
      id="dashboard"
      (click)="onClick('dashboard')"
    >
      <mat-icon>dashboard</mat-icon>
      <span class="navText">DASHBOARD</span>
    </button>

    <button
      routerLink="/create-map"
      mat-button
      class="menu-button"
      matTooltip="Upload files for stitching"
      id="create-map"
      (click)="onClick('create-map')"
    >
      <mat-icon>add_photo_alternate</mat-icon>
      <span class="navText">CREATE MAP</span>
    </button>

    <button
      routerLink="/map-catalogue"
      mat-button
      class="menu-button"
      matTooltip="View processed images"
      id="map-catalogue"
      (click)="onClick('map-catalogue')"
    >
      <mat-icon>collections</mat-icon>
      <span class="navText">MAP CATALOGUE</span>
    </button>

    <button
      routerLink="/account"
      mat-button
      class="menu-button"
      matTooltip="User account details"
      id="account"
      (click)="onClick('account')"
    >
      <mat-icon>person</mat-icon>
      <span class="navText">ACCOUNT</span>
    </button>
  </div>
</div>
