@import "src/styles.scss";

.nav {
  background-color: $primary-dark;
  height: fit-content;
  width: 100%;
  min-width: 190px;
  padding: 15px;
  z-index: 9;
  position: fixed;
}

.nav a {
  text-decoration: none;
  font-size: 14pt;
  color: $primary-background;
  transition: 0.3s;

  position: absolute;
  top: 10%;
}

.navText {
  font-size: 14pt;
  color: $primary-background;
}

mat-icon {
  height: auto;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
  color: #b3b3b3 !important;
  display: flex;
  align-items: center;
}

.material-icons {
  font-size: 28px;
}

.menu-button span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  color: $primary-grey;
  transition-delay: 500ms;
}

.menu-button:hover span {
  transition-delay: 200ms;
  max-width: 12rem;
  width: fit-content;
}

.active span {
  max-width: 12rem;
  width: fit-content;
}

.mat-button-base {
  height: 6vh;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: block;
    height: 18vh;
  }

  #titleButton {
    width: 100%;
    text-align: center;
  }

  .menu-button span {
    display: block;
  }

  #buttons {
    margin-top: 1px;
    width: 100%;
    text-align: center;
  }
}

#title {
  color: $primary-background;
  font-size: 35px;
  font-weight: 100;
}

#buttons {
  float: right;
}
