.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #8b745b;
  border-color: #8b745b transparent #8b745b transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
