//Colours
$primary: #757575;
$primary-background: #ffffff;
$primary-background-opaque: #ebebeb;
$primary-dark: #12172a;
$primary-epi-dark: #001744;
$primary-red: #ca1a20;
$primary-super-dark: #222222;
$primary-epi-white: #ebebeb;
$primary-grey: #e8e8e8;
$primary-brown: #5f5f5f;
$primary-brown-opaque: #5f5f5fa9;
//Body
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

//scrollbar
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

//tooltip
.tooltip {
    position: relative;
    display: inline-block;
    width:fit-content;
    // margin: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 14px;
    width: 120px;
    height: max-content;
    background-color: $primary-super-dark;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    // margin: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 105%;
    //   bottom:25%;
    left: 0;
    //   right: 0%;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    visibility: visible;
    opacity: 1;
}
